@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --maincolorDefault: #04489b;
    --maincolorDarker:#02234b;
    --maincolorLighter:#4898fa;
    --secondcolorDefault:#ff9921;
    --secondcolorDarker:#ce7000;
    --secondcolorlighter:#ffe4c4;
    --thirdcolor:#333;
    --fourthcolor:#ccc;
    --primaryfont:'Roboto', sans-seri;
    --secondaryfont:"Lora", serif;
    --thirdfont:"themify";
    --sublinkhover:#fff;
    --hovercolor:#0668e1;
  }







